.container {
  border-radius: 30px;
  padding: 40px 20px;
  background: #1f1f1f;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-right: auto;
  margin-bottom: 40px;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bookImage {
  width: 140px;
  height: 213px;
}
.titleBook {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  width: 150px;
}
.author {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #686868;
  margin-bottom: 20px;
}
.recordButtonWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 0.3s ease;
}

.recordButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  border: none;
}

.recording {
  width: 15px;
  height: 15px;
  background-color: red;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.recordButtonWrapper:hover .recordButton {
  transform: scale(1.1);
}

.recordButtonWrapper:active .recordButton {
  transform: scale(0.9);
}
