.formContainer {
  border-radius: 30px;
  background: #1f1f1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleReading {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin-bottom: 20px;
  text-align: left;
}

.readingSpan {
  color: rgba(227, 227, 227, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputLabel {
  font-size: 14px;
  line-height: 1.2;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.inputField {
  border-radius: 12px;
  padding: 14px 0px 14px 14px;
  background: #262626;
  border: none;
  color: #f9f9f9;
  font-size: 14px;
  border: 2px solid #262626;
  width: 90%;
}

.inputField::placeholder {
  color: #686868;
}
.inputField:focus {
  outline: none;
  background: #262626;
}

.inputField.valid {
  border-color: #4caf50;
}

.inputField.error {
  border-color: #ff6b6b;
}

.inputField::placeholder {
  color: #686868;
}
.inputError {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 5px;
}

.buttonPassword {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 16px;
}

.submitButton {
  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  height: 42px;
  background: #f9f9f9;
  color: #1f1f1f;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submitButton:hover {
  background: #e6e6e6;
}

.accountText {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.accountText:hover {
  color: #868383;
}
.containerButton {
  display: flex;
  gap: 14px;
  align-items: baseline;
}
.inputField:focus {
  background: #262626;
  outline: none;
  box-shadow: none;
}

.inputField:-webkit-autofill {
  background: #262626 !important;
  -webkit-box-shadow: 0 0 0px 1000px #262626 inset !important;
  -webkit-text-fill-color: #f9f9f9 !important;
}

.icon {
  font-size: 18px;
  color: #ffffff;
}
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  position: absolute;
  right: 10px;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.inputWrapper {
  position: relative;
}

.inputWrapperWithIcon .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.iconButton {
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
}
