.container {
  border-radius: 12px;
  background: #262626;
  padding: 20px;
}

.titleStart {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: left;
  color: #f9f9f9;
  margin-bottom: 20px;
}
.number {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1f1f1f;
}
.stepsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.stepItem {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.stepNumber {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepDescription {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  width: 280px;
}

.stepHighlight {
  color: #686868;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.libraryLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}
.buttonNext {
  background: none;
  border: none;
  cursor: pointer;
}
