.container {
  border-radius: 30px;
  background: #1f1f1f;
  padding: 20px;
}

.button {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  background: transparent;
  color: #f9f9f9;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: #1f1f20;
}
.input {
  border-radius: 12px;
  padding: 14px 167px 14px 14px;
  background: #262626;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.title {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 5px;
}
.titleProgress {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.titleInfo {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}
.containerImage {
  border-radius: 100%;
  background-color: #262626;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.containerContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
