.formContainer {
  border-radius: 30px;
  background: #1f1f1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleReading {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin-bottom: 20px;
  text-align: left;
}

.readingSpan {
  color: rgba(227, 227, 227, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputLabel {
  font-size: 14px;
  line-height: 1.2;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.inputField {
  border-radius: 12px;
  padding: 14px 0px 14px 14px;
  background: #262626;
  border: 2px solid #262626;
  color: #f9f9f9;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  outline: none;
  background: #262626;
  border-color: inherit;
}

.inputField.valid {
  border-color: #4caf50 !important;
}

.inputField.error {
  border-color: #ff6b6b !important;
}

.inputField::placeholder {
  color: #686868;
}

.inputField:-webkit-autofill {
  background: #262626 !important;
  -webkit-box-shadow: 0 0 0px 1000px #262626 inset !important;
  -webkit-text-fill-color: #f9f9f9 !important;
}

.inputField:focus {
  border: none;
}

.inputError {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 5px;
}

.buttonPassword {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 16px;
}

.submitButton {
  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  height: 42px;
  background: #f9f9f9;
  color: #1f1f1f;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 12px;
  margin-bottom: 40px;
}

.submitButton:hover {
  background: #e6e6e6;
}

.accountText {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.accountText:hover {
  color: #868383;
}
.containerButton {
  display: flex;
  gap: 14px;
  align-items: baseline;
}
.icon {
  font-size: 18px;
  color: #ffffff;
}
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  position: absolute;
  right: 10px;
  top: 30%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon {
  fill: #ffffff;
  transition: fill 0.3s ease;
  color: #e6e6e6;
}

.icon:hover {
  fill: #f1f2f3;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputField {
  width: 100%;
  padding-right: 40px;
  border-radius: 12px;
  padding: 14px 14px;
  background: #262626;
  border: 2px solid #262626;
  color: #f9f9f9;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.inputField.valid {
  border-color: #4caf50 !important;
}

.inputField.error {
  border-color: #ff6b6b !important;
}

.inputField::placeholder {
  color: #686868;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 0.3s ease;
}

.iconError {
  fill: red;
}

.iconSuccess {
  fill: green;
}
.inputWrapper {
  position: relative;
}

.inputWrapperWithIcon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.iconButton {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .formContainer {
    border-radius: 30px;
    width: 704px;
    height: 960px;
  }
  .titleReading {
    font-weight: 700;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    width: 440px;
    text-align: left;
    margin-bottom: 40px;
  }
  .inputField {
    border-radius: 12px;
    padding: 16px 16px;
    width: 472px;
  }
  .form {
    align-items: center;
  }
  .submitButton {
    border-radius: 30px;
    padding: 16px 54px;
    width: 225px;
    height: 52px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
  }
  .accountText {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
  }
  .containerButton {
    gap: 20px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .formContainer {
    border-radius: 30px;
    width: 600px;
    height: 736px;
  }
}
